body{

    background:#f3f3f3;
  
    text-align: center;
  
  }
  
  #survey-form{
  
    background:yellow;
  
    padding: 30px 15px;
  
    display:flex;
  
    flex-direction:column;
  
    justify-content:center;
  
  }
  
  #submit{
  
    background:green;
  
  }